@model LoginAdmin

    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex flex-row lg:flex-row">
            
            <div class="card flex-shrink-0 max-w-lg shadow-2xl bg-base-100">
                <form class="card-body" asp-action="LoginAdmin" asp-controller="Admin" method="post" >
                    <div class="form-control">
                        <label asp-for="LogEmail" class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input asp-for="LogEmail" type="email" placeholder="email" class="input input-bordered" required />
                        <span asp-validation-for="LogEmail" class="text-danger"></span>
                    </div>
                    <div class="form-control">
                        <label asp-for="LogPassword" class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input asp-for="LogPassword" type="password" placeholder="password" class="input input-bordered" required />
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
            <div class="text-center lg:text-right">
                <h1 class="text-5xl font-bold">Login now!</h1>
                <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                    quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
            </div>
        </div>
    </div>