@{
    ViewData["Title"] = "Debbie's Recipes";
    Layout = "_UserLayout";
}

<div class="hero min-h-screen"
    style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Xin Chào!</h1>
            <h2 class="mb-5 text-4xl font-bold"> Welcome to Debbie's Culinary Chronicle</h2>
            <p class="mb-5">
                Here, I curate and share my treasured recipes, a collection of flavors, and a dash of inspiration for
                all fellow food enthusiasts. Explore, savor, and create delicious memories with me.
            </p>
            <a href="/debbiekitchen/recipes" class="btn btn-primary">Looking for A Recipe?</a>
        </div>
    </div>
</div>